@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: corporate --default, business --prefersdark;
}

@theme {
  --font-inter: 'Inter', sans;
}

.content-menu {
  grid-area: 1 / 1 / 3 / 2;
}

/* reset daisyui drawer behavior */
.menu {
  --menu-active-fg: none;
  --menu-active-bg: none;
}
