@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: corporate --default, business --prefersdark;
}

@theme {
  --font-inter: 'Inter', sans;
}

.content-menu {
  grid-area: 1 / 1 / 2 / 2;
}

.content-area {
  grid-area: 1 / 2 / 2 / 3;
}

.app-sidebar {
  grid-area: 1 / 1 / 2 / 2;
}

/* override prosemirror */
.ProseMirror-focused {
  outline: none;
}

/* reset daisyui drawer behavior */
.menu {
  --menu-active-fg: none;
  --menu-active-bg: none;
}

div:has(> .tiptap) {
  max-height: calc(100vh - 40px);
  height: calc(100vh - 40px);
}
